.gameFooter {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textBlock {
    width: fit-content;
}

.gameType span {
    color: var(--second-text-color);
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: 100%;
    max-width: 400px;
}