:root {
	--content-backgound-color: #ffff;
	--text-color: #1c1c27;
	--second-text-color: #42AAFF;
	--third-text-color: #ffff;
	--fourth-text-color: silver;
	--background-color: #42AAFF;
	--button-background-color: #42AAFF;
}

