.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 2px solid rgb(233, 231, 231);
    padding-bottom: 10px;
}

.infoBlock {
    width: 100%;
    max-width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.vs {
    font-size: 30px;
}

.wins {
    color: rgb(61, 232, 61);
    font-size: 34px;
    font-weight: 700;
}

.defeats {
    color: red;
    font-size: 34px;
    font-weight: 700;
}