.cell {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    transition:  all 0.3s ;
}

.cell_pointer {
    cursor: pointer;
    transition:  all 0.3s ;
}

.sep {
    background-color: yellow;
}

.cell_empty {
    transition:  all 0.3s ;
}

.cell_damaged_empty {
    background-color:grey;
    transition:  all 0.3s ;
}

.cell_with_ship {
    background-color: var(--background-color);
    transition:  all 0.3s ;
}

.cell_damaged_with_ship {
    background-color: red;
    transition:  all 0.3s ;
}




@media (max-width: 992px)  {
    .cell {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 724px)  {
    .cell {
        width: 22px;
        height: 22px;
    }
}

@media (max-width: 636px)  {
    .cell {
        width: 19px;
        height: 19px;
    }
}

@media (max-width: 527px)  {

    .cell {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 500px)  {
    .cell {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 435px)  {

    .cell {
        width: 22px;
        height: 22px;
    }
}


