.board {
    display: flex;
    flex-direction: column;
}

.cells {
    display: flex;
}

.rowsBlock {
    display: flex;
    align-items: center;
    gap: 5px;
}

.collsBlock {
    display: flex;
    flex-direction: column;
}

.index {
    width: 17px;
    font-weight: 600;
}

.letters {
    margin-bottom: 5px;
    display: flex;
    gap: 18px;
    margin-left: 33px;
}

@media (max-width: 992px)  {
    .board {
        width: 300px;
        height: 300px;
    }
    .index {
        font-size: 14px;
        width: 0px;
        padding-right: 13px;
    }
    .letters {
        margin-left: 20px;
        gap: 19px;
    }
}


@media (max-width: 720px)  {
    .board {
        width: 220px;
        height: 220px;
    }
    .index {
    }
    .letters {
        margin-left: 15px;
        gap: 10px;
    }
}

@media (max-width: 636px)  {
    .board {
        width: 190px;
        height: 190px;
    }
    .letters {
        margin-left: 18px;
        gap: 6.8px;
    }
}

@media (max-width: 527px)  {
    .board {
        width: 150px;
        height: 150px;
    }
    .letters {
        margin-left: 16px;
        gap: 2.8px;
        font-size: 11px;
    }
    .index {
        font-size: 11px;
    }
}


@media (max-width: 500px)  {
    .board {
        width: 300px;
        height: 300px;
        padding-left: 40px;
    }

    .letters {
        margin-left: 30px;
        gap: 17px;
    }
    .letter {
        font-size: 15px;
    }

    .index {
        font-size: 11px;
    }
}
@media (max-width: 435px)  {

    .board {
        padding: 0px;
        width: 220px;
        height: 220px;
        padding-left: 27px;
    } 

    .letters {
        margin-left:25px;
        gap: 9px;
        font-size: 11px;
    }
    .index {
        font-size: 11px;
    }
}







